<div class="repos">
	<div ng-repeat="repo in repos" class="repo animated fadeInDown">
		<h1>{{ repo.name }}</h1>
		<h2>
			<span>{{ round(repo.score) }}</span>
			<a href="/about">
				<i class="fa fa-info-circle score" ng-mouseover="info(true)" ng-mouseout="info(false)"></i>
			</a>
		</h2>
		<div class="links">
			<a class="item" ng-href="{{ repo.url }}">GitHub</a>
			<p class="item">{{ repo.stars }} Stars</p>
			<p class="item">Pushed {{ ' ' + repo.activity }} {{ repo.activity !== 1 ? ' days ' : ' day ' }} ago</p>
			<p class="item">{{ repo.contributors }} {{ repo.contributors !== 1 ? ' contributors ' : ' contributor ' }}</p>
			<p class="item">{{ repo.issues }} {{ repo.issues !== 1 ? ' issues' : ' issue' }}
		</div>
	</div>
</div>
<div class="error" ng-show="none">
	<h1>No repositories on GitHub using this language currently :(</h1>
</div>
<div class="modal info animated fadeIn" ng-show="infoHover">
	<h1>This score is a standardized score that takes into account the percentages you initially entered for importance of the stars, contributors, activity, and issues of your ideal GitHub repo to contribute to.</h1>
	<h1>The higher the score, the better the repository is suited to your needs.</h1>
</div>